workdir/
write_toml.py
modeling_internlm2.py
config-template.ini
logs/
logs/work.txt
server.log
**/__pycache__
badcase.txt
config.ini
resource/prompt.txt
build/
dist/
huixiangdou.egg-info/
commit.id
resource/wechat_questions.json
.eggs/
feature_stores/
web/qa
redis.conf
nohup.out
*.pyc
start-web.sh
web/proxy/config-template.ini
web/env.sh
logs/work.txt
web/tools/query.jsonl
query.jsonl
tests/history_recv_send.txt
unittest/token.json
wkteam/
web.log
evaluation/rejection/gt_bad.txt
evaluation/rejection/gt_good.txt
bm25.pkl
repodir/
