models/
repodir/
workdir/
write_toml.py
modeling_internlm2.py
config.ini
config-template.ini
logs/
logs/work.txt
server.log
**/__pycache__
pk/
badcase.txt
config.bak
config.ini
resource/prompt.txt
build/
dist/
huixiangdou.egg-info/
commit.id
resource/wechat_questions.json
.eggs/
feature_stores/
web/qa
redis.conf
nohup.out
*.pyc
start-web.sh
web/proxy/config-template.ini
web/env.sh
sft-data
config-alignment.ini
logs/work.txt
web/tools/query.jsonl
query.jsonl
web/tools/groups/
tests/history_recv_send.txt
web/tools/chat.txt
web/tools/filter.jsonl
unittest/token.json
config.test
wkteam/
config-wechat.ini
sft/groups/
