models/
repodir/
workdir/
write_toml.py
modeling_internlm2.py
config.ini
config-template.ini
logs/
logs/work.txt
server.log
**/__pycache__
pk/
badcase.txt
config.bak
config.ini
resource/prompt.txt
build/
dist/
huixiangdou.egg-info/
commit.id
.husky
