accelerate>=0.26.1
aiohttp
auto-gptq
beautifulsoup4
einops
faiss-gpu
langchain>=0.1.5
loguru
openai>=1.0.0
pydantic>=1.10.13
pypdf
pytoml
readability-lxml
requests
scikit-learn
sentence_transformers
tiktoken
torch>=2.0.0
transformers>=4.37.0
transformers_stream_generator
