.upload {
    border: dashed 2px #ccc;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.desc {
    color: #9D9D9D;
    font-size: 14px;
}
.file-list {
    max-height: 300px;
    overflow: auto;
    scorllbar-width: none;
    &::-webkit-scrollbar {
        width: 0;
    }
    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 360px;
    }
}
.dragger {
    :global {
        .ant-upload-list-item-name {
            max-width: 320px;
        }
    }
}

