*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/captures
/buildsystem/keystore.properties
/buildsystem/qianghongbao.jks
/xbd
/app/src/production
app/src/main/java/com/carlos/grabredenvelope/local
/apk

sentry.properties
/.idea/compiler.xml
