# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
package-lock.json

# production
/dist
/build

# misc
.DS_Store
.idea

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local

/maps
.husky